<div id="clearance" class="sign-up">
	<div class="row">
		<div class="small-12 columns text-center">
			<h2><%= t('.title') %></h2>
		</div>
	</div>

	<%= form_for @user do |form| %>
		<%= render partial: '/users/form', object: form %>

		<div class="row">
			<div class="small-5 columns small-centered">
				<%= form.submit class: 'button' %>
			</div>
		</div>

		<div class="row">
			<div class="small-5 columns small-centered">
				<%= link_to t('.sign_in'), sign_in_path %>
			</div>
		</div>
	<% end %>
</div>
